{% extends "layout.html.twig" %}

{% block title %}OpenEquestrianClubManagement - Ajouter un type de carte de séances{% endblock %}

{% block content %}
    <h1>Nouveau type de carte de séances</h1>
    <form action="{{ url('add-card-submit') }}" method="post">
        {% include "Card/_form.html.twig" %}
    </form>
{% endblock %}