/****************************************
 *
 *  Style par défaut
 *
 ****************************************/
body {
    padding: 40px 0;
}

footer {
    font-size: 0.8em;
    text-align: center;
    margin-top: 2em;
}

h1 {
    font-size: 28.5px;
}

h2 {
    font-size: 22.5px;
}

.clear {
    clear: both;
}

.block-detail {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    padding: 39px 19px 14px;
    position: relative;
    text-align: left;
    margin-top: 2em;
}

.block-detail:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

/****************************************
 *
 *  Formulaire
 *
 ****************************************/
.control-group input[type="text"],
.control-group input[type="date"],
.control-group input[type="email"] {
    width: 350px;
}

.control-group select {
    width: 365px;
}

.span12.control-group textarea {
    width:90%;
}

.block-description .span12.control-group textarea {
    height: 150px;
}

#form_payment_method label,
#form_state label {
    display: inline;
    margin-left: 5px;
    margin-right: 10px;
}

#form_payment_method input[type="radio"],
#form_state input[type="radio"] {
    margin-top: 0px;
}

.remove-order-detail {
    margin-top: 25px;
}


/****************************************
 *
 *  Texte des blocs
 *
 ****************************************/
.block-description:after {
    content: "Informations complémentaires"
}

.block-identity:after {
    content: "Identité"
}

.block-contact:after {
    content: "Contact"
}

.block-horse:after {
    content: "Identité du cheval"
}

.block-treatment:after {
    content: "Informations du type de soin"
}

.block-card:after {
    content: "Informations du type de carte de séance"
}

.block-treatment-apply:after {
    content: "Information du soin";
}


/****************************************
 *
 *  Mise en page
 *
 ****************************************/
.block-description {
    margin-bottom: 20px;
}

.add {
    margin-bottom: 20px;
}

table.listing th:last-child,
table.listing td:last-child {
    width:95px;
}

table.listing-treatment-apply th:last-child,
table.listing-treatment-apply td:last-child {
    width:138px;
}