html, body {
    height: 100%;
}
.container {
    min-height: 95%;
    position: relative;
}
.row {
    margin-left: auto;
}
.margin-header {
    margin-top: 10px;
}
.table td.right {
    text-align: right;
}
tfoot tr:first-child td {
    border-top-width: 2px;
}
.bold {
    font-weight: bold;
}
h1 {
    font-size: 25.5px;
}
h2 {
    font-size: 16.5px;
}
.footer {
    border-top: 1px solid #ddd;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 10.5px;
}