{% extends "layout.html.twig" %}

{% block title %}OpenEquestrianClubManagement{% endblock %}

{% block content %}
    <div class="block-detail homepage-main">
        <div class="description">
        </div>
    </div>
{% endblock %}